/* ===============forgot password =================*/
.forgot {
  padding: 100px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fg_pass h2 {
  color: var(--secondary);
  text-transform: uppercase;
  text-align: center;
  font-size: 1.5rem;
  margin: 50px 0;
  letter-spacing: 1.3px;
}

.fg_pass .row {
  max-width: 500px;
  margin: auto;
  /* padding: 0 10px; */
}

.row label {
  color: maroon;
  padding: 0;
  margin-bottom: 5px;
}

.fg_pass .row input {
  width: 100%;
  height: 45px;
  border: 1px solid var(--primary);
  outline: none;
  padding: 0 15px;
  border-radius: 3px;
  margin: 5px 0;
}

.fg_pass .row button {
  width: 100%;
  height: 40px;
  margin: 10px 0;
  padding: 0 5px;
  background: var(--primary);
  color: #fff;
  border: none;
  outline: none;
}
