.tabcontainer {
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: var(--white);
}

.tabcenter {
  width: 90%;
  margin: 0 auto;
}

.tabcenter h3 {
  font-size: 17px;
  color: var(--secondary);
  margin-bottom: 30px;
}

.bloctabs {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 100%;
  margin-bottom: 30px;
  border: 1px solid var(--light);
  transition: var(--transition);
}

.bloctabs button {
  width: 100%;
}

.tabs {
  padding: 15px;
  width: 50%;
  cursor: pointer;
  border-bottom: 1px solid rgba(0, 0, 0, 0.274);
  box-sizing: content-box;
  position: relative;
  outline: none;
  color: var(--fade);
  font-weight: 500;
  font-size: 15px !important;
  background: #fff;
  text-transform: uppercase;
}

#tabs {
  padding: 15px;
  width: 50%;
  cursor: pointer;
  border-bottom: 1px solid rgba(0, 0, 0, 0.274);
  box-sizing: content-box;
  position: relative;
  outline: none;
  color: #7c7c7c;
  font-weight: bold;
  background: red;
}

.activetabs {
  color: var(--primary);
}

.bloctabs button {
  border: none;
  outline: none;
}

/* THE SECTION OF THE CONTENT */
.contenttabs {
  flex-grow: 1;
}
.content {
  background: none;
  padding: 20px;
  width: 100%;
  height: 100%;
  display: none;
}

#content {
  background: none;
  padding: 20px;
  width: 100%;
  height: 100%;
  display: none;
}

.content h2 {
  padding: 0px 0 5px 0px;
  font-size: 18px;
}
.content hr {
  width: 100px;
  height: 2px;
  background: #222;
  margin-bottom: 5px;
}
.content p {
  width: 100%;
  height: 100%;
}
.activecontent {
  display: block;
}

.mobiletab {
  display: none;
}

/* ================================== */
/* THE SECTION OF THE MEDIA QUERY */

@media screen and (max-width: 800px) {
  .tabcontainer {
    padding-top: 20px;
  }

  .tabcenter {
    width: 95% !important;
  }

  .bloctabs {
    display: flex;
    flex-direction: column;
    background: white;
    transition: var(--transition);
  }

  #bloctabs {
    display: flex;
    flex-direction: column;
    background: #f6f6f6 !important;
    z-index: 99;
    border: 1px solid #cccccc;
    transition: var(--transition);
  }

  .tabs {
    background: none;
    margin-left: 0;
    text-align: left;
  }

  .activetabs {
    background: none;
    margin-left: 0;
    text-align: left;
  }

  .mobiletab {
    border-bottom: 1px solid #dedede;
    padding: 10px;
    display: block;
    font-size: 24px;
    cursor: pointer;
    color: var(--secondary);
    background: #fff;
  }

  #none {
    display: none;
  }

  .content {
    padding: 0;
  }
}
